<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0uttlOfgRz82ZXgKwDQ4UA1bt8tR2jt8</string>
	<key>GCM_SENDER_ID</key>
	<string>939913058256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>devplaceholder.XEOR48A7.MyApp</string>
	<key>PROJECT_ID</key>
	<string>fitness-nutrition-planner</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-nutrition-planner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939913058256:ios:8c824896a332559fe38bd5</string>
</dict>
</plist>